.main1bottom {
    width: 100%;
    height: 150px;
    background-color: #121C26;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .main1text {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        position: relative;

        div:nth-child(1) {
            background-color: white;
            font-size: 10px;
            display: flex;
            // align-items: start;

            justify-content: center;
            padding-left: 5%;
            color: black;
        }



        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // background-color: blue;
            width: 25%;
            height: 100%;
            font-family: sans-serif;
            color: white;

            p {
                font-size: 15px;
            }


            .icon1 {
                font-size: 30px;
                color: #C29470;

            }

            .icon2 {
                font-size: 30px;
                color: #C29470;
            }

            .icon3 {
                font-size: 30px;
                color: #C29470;
            }
        }
    }
}

@media(max-width:391px) {
    .main1bottom {
        flex-direction: row;
        // background-color: red;
        height: 120vh;

        .main1text {
            flex-direction: column;
            align-items: center;

            div {
                text-align: center;
            }

            div:nth-child(1) {
                width: 100%;
                align-items: flex-start;
            }
        }
    }
}